.container {
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: gray;
	width: 250px;
	height: 450px;
}

.container > div {
	border-style: solid;
	background-color: dodgerblue;
}

.header {
	flex-grow: 0.5;
}

.settings-menu {
	flex-grow: 4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.settings-menu > span {
	/* border-style: dotted; */
}

.scramble-pieces {
	flex: 1;
}

.settings-option {
	flex: 0.5;
}

.footer {
	flex-grow: 0.5;
}

body {
	margin: 0px;
}

/* input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 50px;
	height: 25px;
	background: #bada55;
	display: block;
	border-radius: 25px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 27.5px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 25px;
	transition: 0.3s;
}

input:checked + label {
	background: grey;
}

input:checked + label:after {
	right: calc(100% - 5px);
	transform: translateX(-122.5%);
}

label:active:after {
	width: 15px;
} */